<!-- footer.component.html -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4">
                <h3>Phone</h3>
                <p>+1(343)-580-2503</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Email</h3>
                <p>varun.nallamothu@outlook.com</p>
            </div>
            <div class="col-12 col-md-4">
                <h3>Follow Me</h3>
                <p><a href="https://www.linkedin.com/in/varun-nallamothu/"><img src="../../assets/Images/linkedin-in.svg" width="20"></a></p>
            </div>
        </div>
    </div>
</div>
 