.p-5{
    padding-left: 0px !important;
    .user-pic{
        img{
            object-fit: cover;
            border-radius: 50%;
            height: 100%;
            margin: auto;
            width: 80%;
            display: block;
        }
    }
    .title{
        font-size: 100px !important;
        font-weight: bold;
        @media only screen and (max-width:767px){
            font-size: 32px !important;
            margin-bottom: 25px !important;
        }
    }
    .sub-title{
        font-size: 22px;
        font-weight: 500;
    }
    .details{
        margin-top: 40px;
        h3{
            height: 140px;
            width: 140px;
            border-radius: 50%;
            display:grid;
            align-items: center;
            text-align: center;
            margin: 0px auto;
            cursor: pointer;
            font-weight: 500;
            border: 1px solid;
            font-size: 20px;
            &.resume{
                background-color: #fea1005e;
            }
            &.projects{
                background-color: #ffbebe;
            }
            &.contact{
                background-color:#bed6ff96;
            }
            &:hover{
                background-color: #fff;
                transition: 1s;

            }
            @media only screen and (max-width:767px){
                width: 100px !important;
                height: 100px !important;
            }
        }
    }
}



