<div class="container">
    <div class="p-5">
        <div class="row">
            <div class="col-12">
                <h1 class="title">Resume</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-md-12" style="text-align: center;">
                <h3 class="sub-title">Work Experience</h3>
            </div>
            <!-- <div class="col-xs-12 col-md-6">
                <div class="row resume-details mb-5">
                    <div class="col-12 col-lg-4">
                        <h3>2023 May - Present</h3>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h3>Analyst, Informanus Analytics and ArtificialIntelligence Inc., Kingston, Canada</h3>
                        <p>
                            At Informanus Analytics and ArtificialIntelligence Inc., Kingston, Canada, I leverage data insights and AI to optimize operations, contributing to efficiency and growth.
                        </p>
                    </div>
                </div>
                <div class="row resume-details mb-5">
                    <div class="col-12 col-lg-4">
                        <h3>2023 Mar - 2023 Apr</h3>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h3>BusinessAnalytics Intern, School Of Business, St Lawrence | Kingston, Canada</h3>
                        <p>
                            As a Business Analytics Intern at the School Of Business, St Lawrence | Kingston, I automated meeting minutes using Python and GPT-4 API, enhancing data visualization with Power BI.
                        </p>
                    </div>
                </div>
                <div class="row resume-details mb-5">
                    <div class="col-12 col-lg-4">
                        <h3>2018 Jan - 2022 Apr</h3>
                    </div>
                    <div class="col-12 col-lg-8">
                        <h3>Full Stack Developer, Covalense Global, Hyderabad, India</h3>
                        <p>
                            At Covalense Global, Hyderabad, I designed and developed complex web apps, collaborating cross-functionally and using Agile Scrum for high-quality results.
                        </p>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="row">
            <div class="col-xs-12 col-md-4 mt-5">
                <mat-card class="example-card">
                    <img mat-card-image [src]="'assets/Images/covalenseglobal.png'" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>   
                        At Covalense Global, Hyderabad, 
                        I designed and developed complex web apps, collaborating cross-functionally and using Agile Scrum for high-quality results.
                    </p>
                    </mat-card-content>
                    <mat-card-title>Covalense Global</mat-card-title>
                    <mat-card-subtitle>2018 Jan - 2022 Apr</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-xs-12 col-md-4 mt-5">
                <mat-card class="example-card">
                    <img mat-card-image src="assets/Images/stlawrence.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        As a Business Analytics Intern at the School Of Business, St Lawrence | Kingston, 
                        I automated meeting minutes using Python and GPT-4 API, enhancing data visualization with Power BI.
                    </p>
                    </mat-card-content>
                    <mat-card-title>School Of Business, ST Lawrence College</mat-card-title>
                    <mat-card-subtitle>2023 Mar - 2023 Apr</mat-card-subtitle>
                </mat-card>
            </div>
            <div class="col-xs-12 col-md-4 mt-5">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                    <mat-card-content>
                    <p>
                        At Informanus Analytics and ArtificialIntelligence Inc., Kingston, Canada, 
                        I leverage data insights and AI to optimize operations, contributing to efficiency and growth.
                    </p>
                    </mat-card-content>
                    <mat-card-title>Informanus INC</mat-card-title>
                    <mat-card-subtitle>2023 May - Present</mat-card-subtitle>
                </mat-card>
            </div>
        </div>
        <hr>
        <div>
            <div class="row mt-5">
                <div class="col-xs-12 col-md-12" style="text-align: center;">
                    <h3 class="sub-title">Education</h3>
                </div>
                <!-- <div class="col-xs-12 col-md-6">
        
                    <div class="row resume-details mb-5">
                        <div class="col-12 col-lg-4">
                            <h3>2022 Jan - 2023 Mar</h3>
                        </div>
                        <div class="col-12 col-lg-8">
                            <h3>St Lawrence College, Kingston, Canada</h3>
                            <p>PostGraduate Diploma, Business Analytics</p>
                        </div>
                    </div>
                    <div class="row resume-details mb-5">
                        <div class="col-12 col-lg-4">
                            <h3>2013 Jun - 2017 Apr</h3>
                        </div>
                        <div class="col-12 col-lg-8">
                            <h3>Anna University, Chennai, India</h3>
                            <p>Bachelor of Engineering, Computer Science and Engineering</p>
                        </div>
                    </div>
                </div> -->
            </div>
            <div class="row mt-5">
                <mat-card>
                    <mat-card-header>
                    <mat-card-title>St Lawrence College, Kingston, Canada</mat-card-title>
                    <mat-card-subtitle>PostGraduate Diploma, Business Analytics</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
            </div>
            <div class="row mt-5">
                <mat-card>
                    <mat-card-header>
                    <mat-card-title>Anna University, Chennai, India</mat-card-title>
                    <mat-card-subtitle>Bachelor of Engineering, Computer Science and Engineering</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions align="end">
                        
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
        <hr>
        <div class="row mt-5">
            <div class="col-xs-12 col-md-12" style="text-align: center;">
                <h3 class="sub-title" >Skills & Expertise</h3>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-md-12">

            <div class="row">
                <div class="col-12">
                    <ul>
                        <li><i class="fa-brands fa-html5"></i>
                            <p>html-5</p>
                        </li>
                        <li><i class="fa-brands fa-css3-alt"></i>
                            <p>css3</p>
                        </li>
                        <li> <i class="fa-brands fa-sass"></i>
                            <p>sass</p>
                        </li>
                        <li> <i class="fa-brands fa-js"></i>
                            <p>javascript</p>
                        </li>
                        <li> <i class="fa-brands fa-react"></i>
                            <p>reactjs</p>
                        </li>
                        <li> <i class="fa-brands fa-node"></i>
                            <p>nodejs</p>
                        </li>
                        <li><i class="fa-brands fa-swift"></i>
                            <p>swift</p>
                        </li>
                        <li><i class="fa-brands fa-npm"></i>
                            <p>npm</p>
                        </li>
                        <li> <i class="fa-solid fa-database"></i>
                            <p>sql-database</p>
                        </li>
                        <li> <i class="fa-brands fa-aws"></i>
                            <p>aws</p>
                        </li>
                        <li><i class="fa-solid fa-fire"></i>
                            <p>firebase</p>
                        </li>
                        <li> <i class="fa-brands fa-python"></i>
                            <p>python</p>
                        </li>
                        <li> <i class="fa-brands fa-docker"></i>
                            <p>docker</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        </div>
    </div>
</div>